
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #dc2f02, #f48c06, #e85d04, #e85d04);
    margin: 20px;
    overflow-x: hidden;
}
.myCanvas {
    width: 900px;
    height: 700px;
    border: 10px solid #370617;
    border-radius: 20px;
    background-color: aquamarine;
    position: relative;
    margin: 20px auto;
}

.guide{
position: relative;
left: 510px;
top:800px;
}

.score{
    font-size:23px;
}
.snake {
    background-color: green;
    position: absolute;
}
.food {
    background-color: red;
    position: absolute;
}
fieldset {
    border: 2px solid #370617; 
    padding: 20px;
    margin-top: -529px;
    margin-left: 23px;
    border-width: 7px;
    border-radius: 20px;
    width: 300px; 
}
legend {
    font-weight: bold;
    font-size: 30px;
    color: #370617; 
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px; 
}
button {
    margin-top: 10px; 
    padding: 10px 15px;
    background-color: #007BFF; 
    color: white; 
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3; 
}
