*{
    padding: 0%;
    margin: 0%;
    background-color:rgb(235, 217, 210);
}

.Container div {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

.reset{
    position: relative;
    left: -381px;
    padding: 15px;
    font-style: italic;
}

p{
    font-size: 34px;
    padding: 15px;
}

.diff{
    position: relative;
    top:4px;
    background-color: transparent;                                                   
}

select{
    position: relative;
    padding: 10px;
    top:-6px;
}

canvas{
    padding: 10% 15%;
    margin: auto;
    background-color:darkcyan;
}